<h1><%= @post.title %></h1>

<p>
  <%= @post.text %>
</p>

<div class="comment-box">
  <strong>Comments:</strong> <br>
  <% if @post.comments.any? %>
    <table class="table">
      <tr>
        <th>Author</th>
        <th>Comment</th>
        <th colspan="1"></th>
      </tr>
      <% @post.comments.each do |cmt| %>
        <tr>
          <td><%= cmt.author %></td>
          <td><%= cmt.text %></td>
          <td><%= link_to 'Delete', [cmt.post, cmt], method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
        <% end %>
    </table>
  <% else %>
      No comments found for this post. Add a comment below!    
  <% end %>

<div class="comment-add-box">
<h4>Add a comment:</h4>
<%= form_for [@post, @post.comments.build] do |f| %>
  <p>
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
</div>

<p><br>
  <%= link_to 'Back', posts_path %>
</p>